<div class="info-details">
  <h1>Ideas for <%= @user.name %></h1>
  <h4><%= link_to "Create New Idea", user_path(@user) %></h4>

  <div class="container-fluid">
    <div class="row">
      <% @user.ideas.each do |idea| %>
        <div class="col-md-2">
          <ul class=company_<%= idea.id %>
            <p><%= link_to idea.name, user_idea_path(@user, idea) %></p>
            <%= link_to "Delete", user_idea_path(@user, idea), method: "delete", class: "btn btn-default btn-xs" %>
          </ul>
        </div>
      <% end  %>
    </div>
  </div>
</div>
