<h1>Welcome <%= @user.name %></h1>
  <%= @user.email %>

  <h6><%= @user.name %>'s Ideas</h6>
  <% @ideas.each do |idea| %>
    <%link_to idea.name, user_idea_path(@user, idea) %>
  <% end %>

<h3>Create a New Idea</h3>
<%= form_for [@user, @idea] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :resources %>
  <%= f.text_area :resources %>
  <%= f.collection_select :category_id, @categories, :id, :name, include_blank: true %>
  <% if @images %>
    <% @images.each do |image| %>
      <div>
        <%= check_box_tag(:image_id, image.id, false, name: "idea[image_ids][]", id: "image-#{image.id}", include_blank: true) %>
        <%= image.url %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit "Create New Idea" %>
  <% end %>
