<h1>Welcome <%= @user.name %></h1>
  <%= @user.email %>

  <h6><%= @user.name %>'s Ideas</h6>
  <% @user.ideas.each do |idea| %>
    <p><%= link_to idea.name, user_idea_path(@user, idea) %></p>
  <% end %>

<div class="form-holder">
<h3>Create a New Idea</h3>
<%= form_for [@user, @idea], class: "form-group" do |f| %>
  <div class="form-inline">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-inline">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="form-inline">
    <%= f.label :resources %>
    <%= f.text_area :resources %>
  </div>

  <div class="form-inline">
    <%= f.label "Category" %>
    <%= f.collection_select :category_id, @categories, :id, :name, include_blank: true %>
  </div>

  <div class="form-inline">
    <%= f.submit "Create New Idea" %>
  </div>

  <% if @images %>
    <div class="container-fluid">
      <%= f.label "Select Images" %>
      <div class="row">
        <% @images.each do |image| %>
        <div class="col-md-3">
          <%= check_box_tag(:image_id, image.id, false, name: "idea[image_ids][]", id: "image-#{image.id}", include_blank: true) %>
          <%= image_tag(image.url, class: "img-thumbnail item-grid") %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% end %>
</div>

  <%#= link_to image_tag(item.image, class: "img-thumbnail item-grid"), item_path(item) %>
