<h1> All Categories </h1>

<p> <%= link_to "Create a New Category", new_admin_category_path %></p>

<% @categories.each do |cat| %>
  <ul class=category_<%= cat.id %>>
    <li><%= link_to cat.name, category_path(cat) %></li>
    <li><%= link_to "Edit", edit_admin_category_path(cat) %></li>
    <li><%= link_to "Delete", admin_category_path(cat), method: "delete" %></li>
  </ul>
<% end %>
