<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render partial: "layouts/navbar" %>

  <body class="container-fluid">
    <% flash.each do |type, message| %>
      <div class=flash_<%= type %>>
        <%= content_tag :div, sanitize(message), class: "alert alert-#{type}" %>
      </div>
      <% end  %>
        <%= yield %>
  </body>
</html>
